<ion-menu side="start" contentId="main-content">
  <ion-content>
    <ion-list>
      <ion-item button routerLink="/home">
        <ion-label>Home</ion-label>
      </ion-item>
      <ion-item button routerLink="/stock-market">
        <ion-label>Stock Market</ion-label>
      </ion-item>
      <ion-item button routerLink="/registrar">
        <ion-label>Registrar</ion-label>
      </ion-item>
      <ion-item button routerLink="/editar">
        <ion-label>Editar</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row style="align-items: center;">
      <ion-col size="auto">
        <ion-img
          src="https://scontent.fcjs3-2.fna.fbcdn.net/v/t39.30808-6/414660264_868038218446062_8859157890664037754_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=3lG0wAfvcFoAX-7ELxp&_nc_ht=scontent.fcjs3-2.fna&oh=00_AfB7KCizSoirI2q2YDQj_xnka1urn1AARCNBM2f3YY6zvA&oe=65BE4424"
          alt=""
          style="max-width: 5em; margin-right: 1em;"
        ></ion-img>
      </ion-col>
      <ion-col>
        <ion-title 
          class="title_header"
            >Geek Chronicles</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content id="main-content">
  <!-- Contenido principal de la página -->
</ion-content>
