<ion-header class="registrar-header">
  <ion-toolbar>
    <ion-title>Registrar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="margin-top: 2em;">
  <form [formGroup]="formulario" (ngSubmit)="registrar()">
    <ion-title style="margin-top: 2em;">Modelo</ion-title>
    <ion-card>
      <ion-input type="text" formControlName="modelo"></ion-input>
    </ion-card>
    
    <ion-title>Precio</ion-title>
    <ion-card>
      <ion-input type="number" formControlName="precio"></ion-input>
    </ion-card>

    <ion-title>Tienda</ion-title>
    <ion-card>
      <ion-item>
        <ion-select formControlName="tienda" interface="action-sheet">
          <ion-select-option value="Amazon">Amazon</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card>

    <ion-title>URL</ion-title>
    <ion-card>
      <ion-input type="text" formControlName="url"></ion-input>
    </ion-card>

    <ion-title>Imagen URL</ion-title>
    <ion-card>
      <ion-input type="text" formControlName="img"></ion-input>  
    </ion-card>

    <ion-button type="submit" expand="block">Registrar</ion-button>
  </form>
</ion-content>

